{% extends "ls/base.html" %}

{% load static %}
{% block title %} Семена цветов {% endblock %}

{% block content %}

<!--<div class="navigation">
    <ul class="breadcrumb-navigation">
        <li><a href="/">Главная</a></li>
    </ul>
</div>-->
<div class="page_title"><h1>Семена цветов</h1></div>
<div class="top_widgets">
<div id="widget"></div>
{% for f in flower_list %}
    <a class="vege_img" href="{% url 'ls:FlowersVidDetails' f.vids%}">
        <img class="img__cover" decoding="async" src="{% static f.vid_image %}"> 
        <span class="widget_title">{{f.vids}}</span>
    </a>
{% endfor %}
</div>
<div id="widget"></div>
<div class="page_title"><h2>Популярное</h2></div>
<p>Представляем Вам семена наиболее популярных сортов цветов по мнению наших посетителей.</p>
{% if list_of_likes_sorts %}
<div class="top_sort_widgets">
{% for n in list_of_likes_sorts %}
    <a class="sort_img" href="{% url 'ls:FlowersSortDetails' n.vids n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_likes"><img class="logo_likes_img" decoding="async" src="/static/ls/images/like.png"><span class="likes_number">{{n.likes}}</span></div>
    </a>
{% endfor %}
</div>
{% endif %}
{% endblock %}
