{% extends "ls/base.html" %}

{% load static %}
{% block head_extend %} 
{% endblock %}

{% block title %}Каталог семян{% endblock %}

{% block content %}
<p>У любого садовода и огородника подготовка к новому посевному сезону начинается с закупки семян. На нашем сайте вы найдете описание самых популярных сортов и гибридов овощных и цветочных культур профессиональной серии.</p>
<p>Профессиональные семена производятся известными ведущими мировыми селекционерами с вековой историей, тщательно откалиброваны, обработаны специальными веществами, которые защищают их от болезней. Стандарты качества элитных семян овощей очень высокие. Стоит знать, что такой посевной материал может иметь покрытие красного, синего или зелёного цвета. Это плёночный слой, который защищает их от почвенных патогенов. Всхожесть таких семян составляет 90% и более, а сортовая чистота 95-99%. Дражированные семена весьма облегчают процесс посева, а также содержат питательные вещества, которые обеспечивают всходам нормальное развитие на ранних этапах.</p>
<div class="page_title"><h1>Каталог семян</h1></div>
<div class="top_widgets">
    <div id="widget"></div>
    <a class="vege_img" href="vegetables/">
        <span class="widget_title">Овощи</span>
        <img class="img__cover" decoding="async" src="/static/ls/images/vege_all.jpg"> 
    </a>
    <a class="vege_img" href="flowers/">
        <span class="widget_title">Цветы</span>
        <img class="img__cover" decoding="async" src="/static/ls/images/flowers_all.jpg"> 
    </a>
    <a class="vege_img" href="berry/">
        <span class="widget_title">Ягоды</span>
        <img class="img__cover" decoding="async" src="/static/ls/images/berry_all.jpg"> 
    </a>
</div>
<div id="widget"></div>
<div class="page_title"><h2>Новинки каталога</h2></div>
<p>Мы постоянно обновляем каталог, добавляя семена наиболее хорошо зарекомендовавших себя сортов. Не забывайте регулярно заходить на сайт, чтобы ничего не пропустить. </p>
<div class="page_title"><h3>Семена овощей</h3></div>
{% if new_sorts %}
<div class="top_sort_widgets">
{% for n in new_sorts %}
    {% if n.vids is None %}
        <a class="sort_img" href="{% url 'ls:SortDetails' n.veg_type n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_data"><span class="main_pubdate">{{n.pub_date|date}}</span></div>
    </a>
    {% else %}
    <a class="sort_img" href="{% url 'ls:SortDetails' n.veg_type n.vids n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_data"><span class="main_pubdate">{{n.pub_date|date}}</span></div>
    </a>
    {% endif %}
{% endfor %}
</div>
{% endif %}
<div id="widget"></div>
<div class="page_title"><h3>Семена цветов</h3></div>
{% if flower_new_sorts %}
<div class="top_sort_widgets">
{% for n in flower_new_sorts %}
    <a class="sort_img" href="{% url 'ls:FlowersSortDetails' n.vids n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_data"><span class="main_pubdate">{{n.pub_date|date}}</span></div>
    </a>
{% endfor %}
</div>
{% endif %}
<div id="widget"></div>
<div class="page_title"><h2>Популярное</h2></div>
<p>И, наконец, представляем Вам семена наиболее популярных сортов по мнению наших посетителей. Надеемся, что это поможет Вам определиться с выбором. </p>
{% if likes_sorts %}
<div class="top_sort_widgets">
{% for n in likes_sorts %}
{% if n.veg_type == 'Цветы'%}
        <a class="sort_img" href="{% url 'ls:FlowersSortDetails' n.vids n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_likes"><img class="logo_likes_img" decoding="async" src="/static/ls/images/like.png"><span class="likes_number">{{n.likes}}</span></div>
        </a>
{% else %}
    {% if n.vids is None %}
        <a class="sort_img" href="{% url 'ls:SortDetails' n.veg_type n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_likes"><img class="logo_likes_img" decoding="async" src="/static/ls/images/like.png"><span class="likes_number">{{n.likes}}</span></div>
    </a>
    {% else %}
    <a class="sort_img" href="{% url 'ls:SortDetails' n.veg_type n.vids n.name%}">
        <div class="sort_img_size"><img class="img__cover" decoding="async" src="{% static n.image%}"> </div>
        <span class="widget_title_sort">{{n.name}}</span>
        <div class="widget_details_likes"><img class="logo_likes_img" decoding="async" src="/static/ls/images/like.png"><span class="likes_number">{{n.likes}}</span></div>
    </a>
    {% endif %}
{% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
